@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import "tailwindcss";
@import "./styles/colors.css";

body {
  background-color: var(--background);
  color: var(--main-text);
  font-family: 'Inter', sans-serif;
}